body,html{
    margin:0;
    background-color: gray;
}
body{
  margin:0;
}
.nav{
    margin: 0 0 30px;
    height : 60px;
    padding: 0px 150px;
    overflow: hidden;
    background-color: #333;
}
li {
    display: inline;
    float: left;
  }
li a {
  height: 60px;
  display:block;
  padding: 15px;
  color: white;
  border-right:1px solid white;
}


.divai{
  margin:20px 150px;
  word-wrap:break-word;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
.row>div{
  display:inline-block;
  width: 45%;
  padding: auto;
}
.divas{
  flex: 50%;
  padding: 10px;
  height: 15px; /* Should be removed. Only for demonstration */
  background-color: white;
}

footer{
  height: 200px;
  background-color: black;
  position:absolute;
  right: 0;bottom: 0;left: 0;
}
div>h2{
  margin:0;
  bottom: 15px;
}
p{
  font-size: 15px;
  left: 100px;
}
table{
  width: 100%;
  text-align: left;
  padding: 0 20px;
}